.clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #ffcf83;
    color: #000000;
    flex: 1;
    outline: 1px solid #888888;
} 