.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* НИЖЕ мой-LVA CSS */



.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
} 

.grid-init {
  max-width: 300px; /* максимальная ширина контейнера */
  margin: auto; /* центрирование контейнера на странице */
  background-color: lightsteelblue; /* фон */
  padding: 10px; /* внутренние отступы */
}
.box-init {
  font-size: larger; /* размер шрифта */
  color: #fff; /* цвет текста */
  border-radius: 5px; /* скругление углов */
  background-color: #2196f3; /* цвет фона */
  border: 1px solid black; /* граница блока */
  padding: 10px; /* внутренние отступы */
  
  display: flex; /*  выравнивание текста по центру блока с помощью CSS Flexbox  */
  align-items: center;
  justify-content: center;
  
}




.l-screen {
  grid-area: l-screen;
  background-color:rgba(20, 20, 20, 0.555)
}
.l-screen {
  grid-area: scr;
}
.l-numbers {
  grid-area: num;
  padding-left: 18px !important;
}
.l-calculations {
  grid-area: cal;
}
.l-nul_dot {
  grid-area: nul;
}
.l-equally {
  grid-area: equ;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
      "scr scr "
      "num  cal"
      "num  equ"
      "nul  equ";
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}


 .but-scr {
  text-align: center;
  font-size: 1em; 
  width:auto;
  height: auto; 
  margin-right: 10px;
  margin-top: 5px;
  border-radius:4px;
  
} 

.but-nul {
  text-align: center;
  font-size: 1em ; 
  width:auto;
  height: auto; 
  margin-right: 10px;
  margin-top: 5px;
  border-radius:4px;
  
} 

.but-dot {
  text-align: center;
  font-size: 1em ; 
  width:auto;
  height: auto; 
  margin-right: 10px;
  margin-top: 5px;
  border-radius:4px;
  
} 